.hide {
    display: none;
}

.seconds span{
    font-weight: 600;
    color: blue;
}

/* body Styling */
body{
    text-align: center;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Quiz Button Styling */
.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 500;
    color: blue;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
